.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
**/checkpoints/*
**/__pycache__/*
**/env/*
.vscode
.claude
*.parquet
*.pickle
*.pikle
*.logs
*.pkl
*.pyc
*.pyo
*.log

**/outputs/*
**/mlruns/*
**/.hydra/*
**/dist/*
temp/*
logs/*
local_files/*

*.onnx
*.safetensors
*.ckpt
*.bin
*.pth
*.pt
*.pem
*.db

*.unclean
**.unclean.*
